In [20]:
list1 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
print ("original list of tuple")
print(list)
list.sort(key = lambda x : x[1])
print("\nsorting the list of tuple")
print(list)

original list of tuple
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

sorting the list of tuple
[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [43]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("original list of integers")
print(nums)
print("\n square every num of said list:")
square_nums = map(lambda x : x**2, nums)
print(square_nums)

original list of integers
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

 square every num of said list:
<map object at 0x7fb2940c9840>

In [51]:
integer = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(integer)
result_string = map(str,integer)
print(result_string)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<map object at 0x7fb29639ac80>